* {
margin: 0px;	
padding: 0px;
box-sizing: border-box;
list-style: none;
font-family: sans-serif;
}

.header_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0px;
	margin-left: 40px;
	margin-right: 40px;
	color: #1C1D34;
	padding: 10px;
	font-size: 14px;
}

nav {
	box-shadow: 0px 0px 4px 4px rgba(141, 162, 172, 0.25);
}

.udemy_logo {
	width: 80px;
	height: auto;
	cursor: pointer;
}

.header_nav a {
	color: #1C1D34;
	text-decoration: none;
	cursor: pointer;
}

.header_nav a:hover {
	color: #5624D0;
}

.header_nav input {
	background-color: #F7F9FA;
	border: 1px solid #2E2F31;
	border-radius: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 350px;
}

.header_nav div {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.login_button {
	border: 1px solid #000000;
	padding: 10px 15px;
	background-color: transparent;
	font-weight: 800;
	cursor: pointer;
}

.login_button:hover {
	background-color: #F7F9FA;
}

.searchIcon {
	display: none;
}

.cart {
	width: 40px;
	height: 40px;
	background-image: url("./images/cart.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.cart:hover {
	background-image: url("./images/cart2.svg");
}

.globe {
	border: 1px solid #000000;
	width: 40px;
	background-image: url("./images/globe2.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.globe:hover {
	background-color: #F7F9FA;
}

.signup_button {
	cursor: pointer;
	border: none;
	padding: 10px 15px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: 800;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none !important;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 250px;
  padding-top: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.business {
	width: 280px;
	padding: 15px;
}

.business p{
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}

.business button {
	margin-top: 20px;
	background-color: #000000;
	color: #ffffff;
	border: none;
	font-size: 16px;
	font-weight: 600;
	padding: 12px;
	text-align: center;
	width: 250px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block !important;}

#menuToggle {
	display: none;
}

.hero-section {
	background-image: url("./images/hero.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 450px;
}

.hero-container {
	width: 470px;
	background-color: #FFFFFF;
	padding: 30px;
	float: left;
	margin: 80px;
}

.hero-container h1 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 12px;
}

.hero-container p {
	line-height: 30px;
}

.CourseSelection-section {
	margin: 30px;
	margin-bottom: 70px;
}

.CourseSelection-section h2 {
	font-size: 34px;
	margin-bottom: 20px;
}

.CourseSelection-section p {
	font-size: 20px;
	color: #1C1D1F;
	margin-bottom: 15px;
}

.CourseSelection-section ul {
	display: flex;
	flex-direction: row;
	gap: 40px;
	margin-bottom: 15px;
}

.CourseSelection-section li {
	font-weight: 900;
	color: #6A6F73;
}

.CourseSelection-section li:hover {
	cursor: pointer;
	color: #000000;
}

fieldset {
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

fieldset h3 {
	font-weight: 700;
	font-size: 28px;
}

#pass {
	font-size: 15px;
	width: 63%;
	line-height: 22px;
}

fieldset button {
	width: 123px;
	border: 1px solid #000000;
	padding: 12px 8px;
	background-color: transparent;
	font-size: 14px;
	font-weight: 700;
}

fieldset button:hover{
	background-color: #F7F9FA;
	cursor: pointer;

}

.coursesDiv {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.courses {
	width: 230px;
	gap: 5px;
	display: flex;
	float: left;
	flex-direction: column;
	cursor: pointer;
	margin-top: 40px;
}

.courseRating {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	margin-top: -15px;
}

.courseRating p:first-of-type {
	color: #B4690E;
	font-size: 14px;
}

.courseRating img {
	margin-bottom: 20px;
}

.courses span {
	text-decoration: line-through;
	margin-left: 5px;
}

.bestseller {
	background-color: #ECEB98;
	padding: 6px;
	width: 70px;
	font-size: 12px;
	font-weight: 600;
	color: #3D3C17;
	margin-top: -10px;
}

.goals_section {
	padding: 80px 30px;
	background-color: #F7F9FA;
}

.goals_section h3 {
	font-weight: 800;
	font-size: 24px;
}

.goals_section article {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.goals_div {
	width: 400px;
	border: 0.5px solid #A09B9B;
	padding: 30px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.goals_div>p {
	line-height: 25px;
}

.goals_div span {
	font-weight: 600;
}

.goals_div div {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}

.playDiv {
	cursor: pointer;
	background-image: url("./images/play.svg");
	background-repeat: no-repeat;
	background-position: left center;
}

.playDiv:hover {
	background-image: url("./images/play2.svg");
}

.playDiv p{
	margin-left: 45px;
	color: #5624D0; 
	font-weight: 650;
}

.playDiv p:hover{
	color: #39188B;
}

.quote {
	width: 20px;
	height: auto;
}

.students_view{
	margin: 50px 30px;
}

.students_view h3 {
	font-size: 24px;
	margin-bottom: 20px;
}

.StudentsView_courses {
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: pointer;

}

.StudentsView_courses div {
	margin-top: 1px;
}

.FeaturedCategories {
	padding: 70px 60px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: #F7F9FA;
}

.FeaturedCategories h3 {
	font-size: 24px;
	font-weight: 600;
}

.FeaturedCategories section {
	display: flex;
	flex-direction: row;
	gap: 15%;
}

.FeaturedCategories article {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #A1A88D;
	font-size: 14px;
}

.FeaturedCategories article > p {
	font-size: 18px;
	color: #000000;
	font-weight: 600;
}

.FeaturedCategories a {
	color: #5624D0;
	font-weight: 700px;
	font-size: 18px;
}

.FeaturedCategories a:hover {
	color: #2B1268;
}

.FeaturedCategories button {
	padding: 10px 7px;
	background-color: transparent;
	border: 0.4px solid #000000;
	width: 160px;
	color: #1C1D1F;
	font-size: 14px;
	font-weight: 700;
}

.FeaturedCategories button:hover {
	background-color: #ECEBEB;
	cursor: pointer;
}

.LeadingCompanies {
	margin: 70px 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #1C1D1F;
}

.LeadingCompanies h4 {
	font-size: 25px;
}

.LeadingCompanies div{
	float: left;
}

.LeadingCompanies img {
	margin-right: 135px;
}

.testimonies {
	background-color: #F7F9FA;
	padding-top: 60px;
	padding-bottom: 60px;
	
}

.testimonies section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.testimonies article {
	display: flex;
	flex-direction: row;
	border: 0.5px solid #D1D7DC;
	gap: 90px;
	padding: 40px;
	width: 60%;
	background-color: #FFFFFF;
	margin-bottom: 40px;
}

.customerStory {
	width: 54%;
}

.customerStory p {
	line-height: 24px;
	margin-bottom: 60px;
}

.customerStory img {
	width: 15px;
}

.testimonies a {
	color: #5624D0;
	font-size: 16px;
	font-weight: 700;
}

.testimonies a:hover {
	color: #2B1268;
}

.customerDetails h5 {
	font-size: 20px;
	font-weight: 550;
	text-align: center;
	margin-top: 25px;
}

.customerDetails p {
	color: #6A6F7C;
	margin-bottom: 20px;
	text-align: center;
}

.customerDetails h6 {
	font-size: 16px;
	color: #1C1D1F;
	font-weight: 200;
}

.UdemyBusiness {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 90px;
	gap: 30px;
}

.UdemyBusiness img {
	width: 400px;
	height: auto;
}

.UdemyBusiness article img {
	width: 200px;
	height: auto;
}

.UdemyBusiness article {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 40%;
}

.UdemyBusiness h5 {
	font-size: 36px;
	color: #1C1D1F;
}

.UdemyBusiness ul {
	margin-left: 25px;
}

.UdemyBusiness li {
	list-style-type: disc;
	font-size: 24px;
	color: #1C1D1F;
	font-weight: 100;
}

.UdemyBusiness div {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.UdemyBusiness_btn1 {
	width: 180px;
	white-space: nowrap;
	background-color: #1C1D1F;
	color: #FFFFFF;
	border: none;
	padding: 15px 2px;
	font-size: 16px;
	font-weight: 600;
}

.UdemyBusiness_btn1:hover {
	background-color: #000000;
	cursor: pointer;
}

.UdemyBusiness_btn2 {
	width: 110px;
	white-space: nowrap;
	background-color: transparent;
	color: #1C1D1F;
	border: 0.5px solid #1C1D1F;
	padding: 15px 2px;
	font-size: 16px;
	font-weight: 600;
}

.UdemyBusiness_btn2:hover {
	cursor: pointer;
	background-color: #F7F9FA;
}

.BecomeInstructor{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 90px;
	gap: 100px;
	align-items: center;
}

.BecomeInstructor article {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 34%;
}

.BecomeInstructor h5 {
	font-size: 32px;
	color: #1C1D1F;
}

.BecomeInstructor p {
	font-size: 19px;
	color: #1C1D1F;
	font-weight: 100;
	line-height: 32px;
}

.BecomeInstructor button {
	width: 180px;
	white-space: nowrap;
	background-color: #1C1D1F;
	color: #FFFFFF;
	border: none;
	padding: 15px 2px;
	font-size: 16px;
	font-weight: 600;
}

.BecomeInstructor button:hover {
	cursor: pointer;
	background-color: #000000;
}

footer {
	background-color: #1C1D1F;
	display: flex;
	flex-direction: row;
	gap: 12%;
	padding: 50px;
	color: #FFFFFF;
}

footer a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	white-space: nowrap;
}

footer a:hover {
	cursor: pointer;
	text-decoration: underline;
}

footer div {
	display: flex;
	flex-direction: column;
	gap: 15px;

}

.footer1 img {
	width: 90px;
	height: auto;
	margin-top: 70px;
}

.footer1 img:hover {
	cursor: pointer;
}

.langSelection {
	margin-left: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.langSelection p {
	cursor: context-menu;
}

.langSelection div {
	border: 0.6px solid #FFFFFF;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 45px;
	padding-left: 35px;
	background-image: url("./images/globe-snip1.PNG");
	background-repeat: no-repeat;
	background-position: 10% 40%;
}

.langSelection div:hover {
	background-color: #2C2D2D;
	cursor: pointer;
	background-image: url("./images/globe-snip2.PNG");
	background-repeat: no-repeat;
	background-position: 10% 40%;
}

.langSelection img {
	width: 20px;
	height: auto;
}

.footerNoDisplay {
	display: none;
}


@media only screen and (max-width: 1115px) {
	.teach {
		display: none;
	}

	.header_nav input {
		padding-right: 170px;
	}

	.coursesDiv {
		gap: 10px;
	}

	.courses {
		width: 180px;
		gap: 5px;
	}

	.DisplayNone {
		display: none;
	}

	.FeaturedCategories section {
		gap: 10%;
	}

	.LeadingCompanies img {
		margin-right: 70px;
	}

	.UdemyBusiness img {
		width: 500px;

	}
	.UdemyBusiness article img {
		width: 200px;
	}

	.langSelection {
		margin-left: 15%;
	}

}

@media only screen and (max-width: 1015px) {
	.navBusiness {
		display: none;
	}

	.header_nav input {
		padding-right: 130px;
	}

	.hero-container {
		width: 350px;
	}

	.CourseSelection-section {
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 0px;
		margin-bottom: 70px;
	}

	.CourseSelection-section ul {
		gap: 20px;
	}

	.CourseSelection-section li {
		font-weight: 700;
	}

	.coursesDiv {
		gap: 50px;
	}

	.coursesDiv div:nth-child(5), .coursesDiv div:nth-child(4) {
		display: none;
	}

	.courses {
		width: 230px;
	}

	.hide {
		display: none;
	}

	.LeadingCompanies img {
		margin-right: 90px;
	}

	.testimonies article {
		width: 85%;
	}

	.UdemyBusiness {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.UdemyBusiness img {
		width: 600px;
	}

	.UdemyBusiness article img {
		align-self: center;
	}

	.UdemyBusiness article {
		width: 80%;
	}


	.UdemyBusiness article h5 {
		text-align: center;
	}

	.UdemyBusiness div {
		gap: 2%;
	}

	.UdemyBusiness_btn1 {
		width: 49%;
	}

	.UdemyBusiness_btn2 {
		width: 49%;
	}

	.BecomeInstructor{
		flex-direction: column;
		gap: 30px;
	}

	.BecomeInstructor img {
		margin-right: 60px;
	}


	.BecomeInstructor article {
		width: 80%;
		align-items: center;
		justify-content: center;
	}

	.langSelection {
		margin-left: 4%;
	}

}


@media only screen and (max-width: 830px) {


	.udemy_logo {
		margin-left: 200px;
	}

	.dropdown, .header_nav input, .header_nav button, .globe{
		display: none;
	}

	.searchIcon {
		display: block;
		margin-left: 280px;
	}

	.CourseSelection-section p {
		font-size: 16px;
	}

	.hero-container {
		width: 350px;
		margin-bottom: 0px;
	}

	.CourseSelection-section ul {
		gap: 10px;
	}

	.CourseSelection-section li {
		font-weight: 600;
	}

	#pass {
		width: 100%;
	}

	.courses {
		width: 215px;
	}

	.StudentsView_courses {
		width: 230px;
	}

	.coursesDiv {
		gap: 12px;
	}
	
	.FeaturedCategories section {
		gap: 5%;
	}

	.UdemyBusiness article {
		width: 100%;
	}

	.BecomeInstructor article {
		width: 100%;
	}

	.BecomeInstructor article p {
		text-align: center;
	}

	footer {
		gap: 8%;
	}

	.globeDiv {
		border: 0.7px solid #000000;
	padding-top: 0px;
	width: 120px;
	padding-bottom: 0px;
	padding-right: 4px;
	padding-left: 12px;
	display: flex;
	flex-direction: row;
	gap: 15px;
	}




	#menuToggle
{
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  cursor: pointer;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(2px, 2px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);

}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, 1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 350px;
  height: 720px;
  margin: -100px 0 0 -50px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 40px;
  padding-top: 125px;
  overflow-y: scroll;
  background: #FFFFFF;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}

@media only screen and (max-width: 779px) {
	.searchIcon {
		display: none;
	}

	.cart {
		display: none !important;
	}

	.hero-section {
		height: 380px;
	}

	.hero-container {
		width: 330px;
		margin: 80px;
		margin-left: 10px;
	}

	.CourseSelection-section ul {
		display: flex;
		flex-direction: column;
	}

	.CourseSelection-section li {
		padding-top: 10px;
		padding-bottom: 10px;
		border: 1px solid #6A6F73;
		padding-left: 5px;
	}

	.hide {
		display: block;
	}

	.coursesDiv {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.goals_section h3 {
		font-size: 20px;
		text-align: center;
	}

	.goals_section article {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.goals_div {
		width: 330px;
		border: 0.5px solid #A09B9B;
		padding: 20px;
		background-color: #FFFFFF;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.students_view h3 {
		text-align: center;
	}

	.FeaturedCategories h3 {
		text-align: center;
	}

	.FeaturedCategories section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 50px;
	}

	.FeaturedCategories button {
		align-self: center;
		margin-top: 30px;
	}

	.testimonies article {
		display: flex;
		flex-direction: column;
	}

	.testimonies div {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.UdemyBusiness {
		margin-left: 30px;
		margin-right: 30px;
	}

	.UdemyBusiness div {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.UdemyBusiness button {
		width: 100%;
	}

	.UdemyBusiness h5 {
		font-size: 28px;
	}

	.UdemyBusiness li {
		font-size: 16px;
	}

	.UdemyBusiness img {
		width: 340px;
		height: 340px;
	}

	.BecomeInstructor {
		margin-left: 30px;
		margin-right: 30px;
	}

	.BecomeInstructor img {
		width: 350px;
		height: 350px;
		margin-right: 10%;
	}

	.BecomeInstructor h5 {
		font-size: 28px;
		width: 100%;
		text-align: center;
	}

	.LeadingCompanies img {
		float: none;
		margin-right: 10px;
	}

	.footerDisplay {
		display: none;
	}

	.footerNoDisplay {
		display: block;
		padding: 50px 30px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.footerNoDisplay div {
		border: 0.6px solid #FFFFFF;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 45px;
		padding-left: 35px;
		background-image: url("./images/globe-snip1.PNG");
		background-repeat: no-repeat;
		background-position: 5% 40%;
		width: 40%;
	}

	.footerNoDisplay div:hover {
		background-color: #2C2D2D;
		cursor: pointer;
		background-image: url("./images/globe-snip2.PNG");
		background-repeat: no-repeat;
		background-position: 5% 40%;
	}

	.footerNoDisplay img {
		width: 90px;
		height: auto;
		margin-top: 70px;
		cursor: pointer;
	}
}