* {
margin: 0px;	
padding: 0px;
box-sizing: border-box;
list-style: none;
font-family: sans-serif;
}

.header_nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0px;
	margin-left: 40px;
	margin-right: 40px;
	color: #1C1D34;
	padding: 10px;
	font-size: 14px;
}

nav {
	box-shadow: 0px 0px 4px 4px rgba(141, 162, 172, 0.25);
}

.udemy_logo {
	width: 80px;
	height: auto;
	cursor: pointer;
}

.header_nav a {
	color: #1C1D34;
	text-decoration: none;
	cursor: pointer;
}

.header_nav a:hover {
	color: #5624D0;
}

.header_nav input {
	background-color: #F7F9FA;
	border: 1px solid #2E2F31;
	border-radius: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 350px;
}

.header_nav div {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.header_nav img:hover {
	color: #5624D0;
	cursor: pointer;
}

.login_button {
	border: 1px solid #000000;
	padding: 10px 15px;
	background-color: transparent;
	font-weight: 800;
	cursor: pointer;
}

.login_button:hover {
	background-color: #F7F9FA;
}

.globe {
	border: 1px solid #000000;
	padding: 9px;
}

.signup_button {
	cursor: pointer;
	border: none;
	padding: 10px 15px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: 800;
}

.hero-section {
	background-image: url("./images/hero_image.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 450px;
}

.hero-container {
	width: 470px;
	background-color: #FFFFFF;
	padding: 30px;
	float: left;
	margin: 80px;
}

.hero-container h1 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 12px;
}

.hero-container p {
	line-height: 30px;
}

.CourseSelection-section {
	margin: 30px;
	margin-bottom: 70px;
}

.CourseSelection-section h2 {
	font-size: 34px;
	margin-bottom: 20px;
}

.CourseSelection-section p {
	font-size: 20px;
	color: #1C1D1F;
	margin-bottom: 15px;
}

.CourseSelection-section ul {
	display: flex;
	flex-direction: row;
	gap: 40px;
	margin-bottom: 15px;
}

.CourseSelection-section li {
	font-weight: 900;
	color: #6A6F73;
}

.CourseSelection-section li:hover {
	cursor: pointer;
	color: #000000;
}

fieldset {
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

fieldset h3 {
	font-weight: 700;
	font-size: 28px;
}

#pass {
	font-size: 15px;
	width: 63%;
	line-height: 22px;
}

fieldset button {
	width: 123px;
	border: 1px solid #000000;
	padding: 12px 8px;
	background-color: transparent;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10px;
}

fieldset button:hover{
	background-color: #F7F9FA;
	cursor: pointer;

}

.courses {
	width: 237px;
	gap: 5px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.courseRating {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	margin-top: -15px;
}

.courseRating p:first-of-type {
	color: #B4690E;
	font-size: 14px;
}

.courseRating img {
	margin-bottom: 20px;
}

.courses span {
	text-decoration: line-through;
	margin-left: 5px;
}

.coursesDiv {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.bestseller {
	background-color: #ECEB98;
	padding: 6px;
	width: 70px;
	font-size: 12px;
	font-weight: 600;
	color: #3D3C17;
	margin-top: -10px;
}

.goals_section {
	padding: 80px 30px;
	background-color: #F7F9FA;
}

.goals_section h3 {
	font-weight: 800;
	font-size: 24px;
}

.goals_section article {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.goals_div {
	width: 400px;
	border: 0.5px solid #A09B9B;
	padding: 30px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.goals_div>p {
	line-height: 25px;
}

.goals_div span {
	font-weight: 600;
}

.goals_div div {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}

.quote {
	width: 20px;
	height: auto;
}

.students_view{
	margin: 50px 30px;
}

.students_view h3 {
	font-size: 24px;
	margin-bottom: 20px;
}

.StudentsView_courses {
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: pointer;

}

.StudentsView_courses div {
	margin-top: 1px;
}

.FeaturedCategories {
	padding: 70px 60px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	background-color: #F7F9FA;
}

.FeaturedCategories h3 {
	font-size: 24px;
	font-weight: 600;
}

.FeaturedCategories section {
	display: flex;
	flex-direction: row;
	gap: 15%;
}

.FeaturedCategories article {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #A1A88D;
	font-size: 14px;
}

.FeaturedCategories article > p {
	font-size: 18px;
	color: #000000;
	font-weight: 600;
}

.FeaturedCategories a {
	color: #5624D0;
	font-weight: 700px;
	font-size: 18px;
}

.FeaturedCategories button {
	padding: 10px 7px;
	background-color: transparent;
	border: 0.4px solid #000000;
	width: 160px;
	color: #1C1D1F;
	font-size: 14px;
	font-weight: 700;
}

.FeaturedCategories button:hover {
	background-color: #ECEBEB;
	cursor: pointer;
}

.LeadingCompanies {
	margin: 70px 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #1C1D1F;
}

.LeadingCompanies h4 {
	font-size: 25px;
}

.LeadingCompanies div{
	float: left;
}

.LeadingCompanies img {
	margin-right: 135px;
}

.testimonies {
	background-color: #F7F9FA;
	padding-top: 60px;
	padding-bottom: 60px;
	
}

.testimonies section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.testimonies article {
	display: flex;
	flex-direction: row;
	border: 0.5px solid #D1D7DC;
	gap: 90px;
	padding: 40px;
	width: 60%;
	background-color: #FFFFFF;
	margin-bottom: 40px;
}

.customerStory {
	width: 54%;
}

.customerStory p {
	line-height: 24px;
	margin-bottom: 60px;
}

.customerStory img {
	width: 15px;
}

.testimonies a {
	color: #5624D0;
	font-size: 16px;
	font-weight: 700;
}

.customerDetails h5 {
	font-size: 20px;
	font-weight: 550;
	text-align: center;
	margin-top: 25px;
}

.customerDetails p {
	color: #6A6F7C;
	margin-bottom: 20px;
	text-align: center;
}

.customerDetails h6 {
	font-size: 16px;
	color: #1C1D1F;
	font-weight: 200;
}

.UdemyBusiness {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 90px;
	gap: 30px;
}

.UdemyBusiness img {
	width: 400px;
	height: auto;
}

.UdemyBusiness article img {
	width: 200px;
	height: auto;
}

.UdemyBusiness article {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 40%;
}

.UdemyBusiness h5 {
	font-size: 36px;
	color: #1C1D1F;
}

.UdemyBusiness ul {
	margin-left: 25px;
}

.UdemyBusiness li {
	list-style-type: disc;
	font-size: 24px;
	color: #1C1D1F;
	font-weight: 100;
}

.UdemyBusiness div {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.UdemyBusiness_btn1 {
	width: 180px;
	white-space: nowrap;
	background-color: #1C1D1F;
	color: #FFFFFF;
	border: none;
	padding: 15px 2px;
	font-size: 16px;
	font-weight: 600;
}

.UdemyBusiness_btn1:hover {
	background-color: #000000;
	cursor: pointer;
}

.UdemyBusiness_btn2 {
	width: 110px;
	white-space: nowrap;
	background-color: transparent;
	color: #1C1D1F;
	border: 0.5px solid #1C1D1F;
	padding: 15px 2px;
	font-size: 16px;
	font-weight: 600;
}

.UdemyBusiness_btn2:hover {
	cursor: pointer;
	background-color: #F7F9FA;
}

.BecomeInstructor{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 90px;
	gap: 100px;
	align-items: center;
}

.BecomeInstructor article {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 34%;
}

.BecomeInstructor h5 {
	font-size: 32px;
	color: #1C1D1F;
}

.BecomeInstructor p {
	font-size: 19px;
	color: #1C1D1F;
	font-weight: 100;
	line-height: 32px;
}

.BecomeInstructor button {
	width: 180px;
	white-space: nowrap;
	background-color: #1C1D1F;
	color: #FFFFFF;
	border: none;
	padding: 15px 2px;
	font-size: 16px;
	font-weight: 600;
}

.BecomeInstructor button:hover {
	cursor: pointer;
	background-color: #000000;
}

footer {
	background-color: #1C1D1F;
	display: flex;
	flex-direction: row;
	gap: 12%;
	padding: 50px;
	color: #FFFFFF;
}

footer a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	white-space: nowrap;
}

footer a:hover {
	cursor: pointer;
	text-decoration: underline;
}

footer div {
	display: flex;
	flex-direction: column;
	gap: 15px;

}

.footer1 img {
	width: 90px;
	height: auto;
	margin-top: 70px;
}

.footer1 img:hover {
	cursor: pointer;
}

.langSelection {
	margin-left: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.langSelection p {
	cursor: context-menu;
}

.langSelection div {
	border: 0.6px solid #FFFFFF;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 45px;
	padding-left: 35px;
	background-image: url("./images/globe-snip1.PNG");
	background-repeat: no-repeat;
	background-position: 10% 40%;
}

.langSelection div:hover {
	background-color: #2C2D2D;
	cursor: pointer;
	background-image: url("./images/globe-snip2.PNG");
	background-repeat: no-repeat;
	background-position: 10% 40%;
}

.langSelection img {
	width: 20px;
	height: auto;
}

